emojis
  span(each='{ emojis }', class='emo emo-margin emoji s_{ name.replace(/\\\\+/, "") }', onclick='{ parent.show }', data-emoji-name='{ name }', data-emoji-keywords='{ keywords }', data-emoji-unicode='{ unicode }')

  script(type='text/coffeescript').
    @show = (event)=>
      document.body.scrollTop = 0
      opts.showcurrent event

    @on 'update', =>
      @emojis = opts.data.toArray()
