finder
  form(class='pure-form', onsubmit='return false;')
    input#in(onkeyup='{ change }', autofocus)
  current(data='{ current }', tagsearch='{ tagsearch }')
  .emojis
    emojis(data='{ emojis }', showcurrent='{ showcurrent }')

  script(type='text/coffeescript').
    original = @emojis = Immutable.List()

    aja()
      .method 'get'
      .url '/data/emojis.json'
      .on 'success', (emojis)=>
        original = Immutable.List emojis.map (emoji)->
          emoji.forSearch = [emoji.name].concat(emoji.keywords).join(',')
          emoji.unicode = emoji.keywords[emoji.keywords.length - 1]
          emoji.keywords = emoji.keywords.slice 0, -1
          emoji
        @update
          emojis: original
        hash = location.hash.replace /#/, ''
        document.getElementById('in').value = hash
        @change
          target:
            value: hash
      .go()

    @tagsearch = (event)=>
      document.getElementById('in').value = event.target.innerText
      @change
        target:
          value: event.target.innerText

    @showcurrent = (event)=>
      @update
        current:
          name: event.target.getAttribute 'data-emoji-name'
          unicode: event.target.getAttribute 'data-emoji-unicode'
          keywords: event.target.getAttribute('data-emoji-keywords').split ','

    @change = (event)=>
      r = new RegExp event.target.value.replace /[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, '\\$&'
      @update
        emojis: original.filter (emoji)-> emoji.forSearch.search(r) isnt -1
      location.hash = event.target.value
