.emo
  display inline-block

.emo-margin
  margin 1em

.emojis
  width 60%
  margin 0 auto

.v-align
  vertical-align 24px

#currentInput
  height 30px
  margin-left .3em
  font-size 24px
  outline 0
  border 0
  padding 0

.current-container
  cursor pointer
  height 24px

.tag
  color #eaeaea
  display inline-block
  font-size 16px
  font-weight bold
  margin 2px 2px 2px 18px
  padding-right 4px
  position relative

  &:before
    border-top 12px solid transparent
    border-bottom 12px solid transparent
    content ' '
    height 0
    position absolute
    top 0
    left -12px
    width 0

.tag-green
  background-color #079017

  &:before
    border-right 12px solid #079017

.tag-blue
  background-color #067090

  &:before
    border-right 12px solid #067090

.tag-red
  background-color #7d0590

  &:before
    border-right 12px solid #7d0590

form
  text-align center

#in
  font-size 4em
  width 60%
  padding .1em !important
